<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="button" value="点击动画"/>



<script>

  /*addEventListener   onclick  attachEvent   */
  /* 看实际需求 考虑到兼容性 ie8及更低 ie9及以上 及可能出现 绑定多个 事件  用attachEvent addE */
  function addEvent(){



  }

  var obj=document.queryselector("input[type=button]")
  document.queryselector("input[type=button]").attachEvent("onclick",function(){



  })

  document.queryselector("input[type=button]").addEventListener("click",function(){


  })

</script>

</body>
</html>
