<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!--jq 版本-->
  <script src="jquery.min.js"></script>
  <script src="fullpage.js"></script>
  <link rel="stylesheet" href="./fullpage.css">
    <title>Title</title>

     <style>
       /*nth-child 父级元素的第几个子元素*/
       /*nth-of-type 选择父级什么子元素的同级第几个 */
    .section:nth-of-type(1){
        background: red;
      }
    .section:nth-of-type(2){
        background: grey;
      }
    .section:nth-of-type(3){
        background:yellowgreen;
      }
    .section:nth-of-type(4){
        background: seagreen;
      }
    .section:nth-of-type(5){
        background: hotpink;
      }
     </style>
</head>
<body>
<!--基于jQuery  的  屏幕滚动 fullpage插件-->
<!--pullpage原理   竖向的轮廓图   滚动的时候触发，同过fullpage监听滚动事件-->
<div id="fullpage">
    <div class=" section"> Slide 1 </div>
    <div class=" section"> Slide 2 </div>
    <div class=" section"> Slide 3 </div>
    <div class=" section"> Slide 4 </div>
    <div class=" section"> Slide 5 </div>
</div>

<script>
$(function(){
    $("#fullpage").fullpage({
      navigation: true,
    });
})



 //Navigation
 // menu: false,//绑定菜单，设定的相关属性与anchors的值对应后，菜单可以控制滚动，默认为false。
 // anchors:['firstPage', 'secondPage'],//anchors定义锚链接，默认为[]
 // lockAnchors: false,//是否锁定锚链接，默认为false,设为true后链接地址不会改变
 // navigation: true,//是否显示导航，默认为false
 // navigationPosition: 'right',//导航小圆点的位置
 // navigationTooltips: ['firstSlide', 'secondSlide'],//导航小圆点的提示
 // showActiveTooltip: false,//是否显示当前页面的tooltip信息
 // slidesNavigation: true,//是否显示横向幻灯片的导航，默认为false
 // slidesNavPosition: 'bottom',//横向导航的位置，默认为bottom，可以设置为top或bottom
 //
 // //Scrolling
 // css3: true,//是否使用CSS3 transforms来实现滚动效果，默认为true
 // scrollingSpeed: 700,//设置滚动速度，单位毫秒，默认700
 // autoScrolling: true,//是否使用插件的滚动方式，默认为true,若为false则会出现浏览器自带滚动条
 // fitToSection: true,//设置是否自适应整个窗口的空间，默认值：true
 // scrollBar: false,//是否包含滚动条，默认为false,若为true浏览器自带滚动条出现
 // easing: 'easeInOutCubic',//定义页面section滚动的动画方式，若修改此项需引入jquery.easing插件
 // easingcss3: 'ease',//定义页面section滚动的过渡效果，若修改此项需引入第三方插件
 // loopBottom: false,//滚动到最低部后是否连续滚动到顶部，默认为false
 // loopTop: false,//滚动到最顶部后是否连续滚动到底部，默认为false
 // loopHorizontal: true,//横向slide幻灯片是否循环滚动，默认为true
 // continuousVertical: false,//是否循环滚动，不兼容loopTop和loopBottom选项
 // normalScrollElements: '#element1, .element2',//避免自动滚动，滚动时的一些元素，例如百度地图
 // scrollOverflow: false,//内容超过满屏后是否显示滚动条，true则显示滚动条，若需滚动查看内容还需要jquery.slimscroll插件的配合
 // touchSensitivity: 15,//在移动设备中滑动页面的敏感性，默认为5最高100，越大越难滑动
 // normalScrollElementTouchThreshold: 5,
 //
 // //Accessibility
 // keyboardScrolling: true,//是否可以使用键盘方向键导航，默认为true
 // animateAnchor: true,//锚链接是否可以控制滚动动画，默认为true,若为false则锚链接定位失效
 // recordHistory: true,//是否记录历史，默认为true,浏览器的前进后退可导航。若autoScrolling:false,那么这个属性将被关闭
 //
 // //Design
 // controlArrows: true,//定义是否通过箭头来控制slide,默认true
 // verticalCentered: true,//定义每一页的内容是否垂直居中，默认true
 // resize : false,//字体是否随窗口缩放而缩放，默认false
 // sectionsColor : ['#ccc', '#fff'],//为每个section设置background-color属性
 // paddingTop: '3em',//设置每一个section顶部的padding,默认为0
 // paddingBottom: '10px',//设置每一个section底部的padding,默认为0
 // fixedElements: '#header, .footer',//固定元素，默认为null,需要配置一个jquery选择器，在页面滚动时，fixElements设置的元素不滚动
 // responsiveWidth: 0,
 // responsiveHeight: 0,
 //
 // //Custom selectors
 // sectionSelector: '.section',//section选择器。默认为.section
 // slideSelector: '.slide',//slide选择器，默认为.slide
 //
 // //events
 // onLeave: function(index, nextIndex, direction){},
 // afterLoad: function(anchorLink, index){},
 // afterRender: function(){},
 // afterResize: function(){},
 // afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
 // onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
</script>
</body>
</html>
